<ion-view title="Agile Todos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
    <!-- input todo -->
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Todo">
      </label>
      <button class="button button-small">
        Add
      </button>
    </div>
    
    <!-- todos list -->
    <div class="card">
      <div class="item item-toggle">
        This is a basic Card which contains an item that has wrapping text.
        <label class="toggle toggle-energized">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </div>
    </div>
  </ion-content>
</ion-view>